<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <header class="header-container">
      <div class="image-container">
      <img src="img/SkipThePlates_2.jpg" width="1295px" height="400px">
      <button class="logout-btn">Logout</button>
        <i class="fas fa-shopping-cart" ></i>
        <div class="search-container">
          <form action="/menu">
            <input type="text" placeholder="SEARCH MENU ITEMS" name="SEARCH"  >
            <button type="submit"><i class="fa fa-arrow-up"></i></button>
          </form>
        </div>
      </div>
      </header>

      <div class="favorite-container">
        <h2 class="favorite-text">OUR FAVORITES</h2>
      </div>

<div class="flex-container">
  <div><img src="img/cheeseburger.jpg" width="150px" height="150px"><p>CLASSIC CHEESEBURGER  <i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
  <div><img src="img/brisket.jpg" width="150px" height="150px"><P>THE BRISKET <i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
  <div><img src="img/lamb.jpg" width="150px" height="150px"><p>LAMB SOUVLAKI <i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
</div>

<div class="allItems-container">
  <h2 class="all-items">ALL ITEMS</h2>
</div>

<div class="grid-container">
  <div class="grid-item"><p>PIZZA MARGHERITA<i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
  <div class="grid-item"><p>SALMON FILLET<i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
  <div class="grid-item"><p>CHICKEN CEASAR SALAD<i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
  <div class="grid-item"><p>FAJITAS<i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
  <div class="grid-item"><p>LOBSTER BISQUE<i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
  <div class="grid-item"><p>VEGETABLE STIR FRY<i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
  <div class="grid-item"><p>CHICKEN ALFREDO<i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
  <div class="grid-item"><p>BEEF TACOS<i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
  <div class="grid-item"><p>PAD THAI<i class="fa fa-plus-circle" aria-hidden="true"></i></p></div>
</div>

  </body>

</html>
