body {

    background-image: url('/img/background-login-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-and-signup {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  padding-top: 60px;
  position: relative;
  top: 150px;
  right: 325px;
}


